<div class="random-selector">
 <div class="header">
<h1>My starbucks</h1>
<p>сђюсЂЪсЂЙсЂФсЂ»тєњжЎ║сѓѓсЂёсЂІсЂї№╝Ъсђю</p>
</div>

<div class="temperature-buttons">
    <div class="button-container">
      <%= link_to random_drinks_path(temperature: "ice"), 
                  method: :get, 
                  class: "temp-button ice-button" do %>
        <div class="button-icon">­ЪДі</div>
        <div class="button-text">
          <h2>Ice</h2>
        </div>
      <% end %>
    </div>
    
    <div class="button-container">
      <%= link_to random_drinks_path(temperature: "hot"), 
                  method: :get, 
                  class: "temp-button hot-button" do %>
        <div class="button-icon">РўЋ</div>
        <div class="button-text">
          <h2>Hot</h2>

        </div>
      <% end %>
    </div>
  </div>
  
  <div class="description">
    <p>сЃюсѓ┐сЃ│сѓњТі╝сЂЎсЂесђЂсЃЅсЃфсЃ│сѓ»сѓњсЃЕсЃ│сЃђсЃасЂДжЂИсЂ│сЂЙсЂЎ№╝Ђ</p>
  </div>
</div>